  body {
    font-family: 'Times New Roman', serif;
    font-style: 16pt;
    margin: 100px auto;
    width: 960px;
  }

  h1 {
    text-align: center;
    letter-spacing: 0.25em;
  }

  .course {
    text-align: center;
    font-style: italic;
    letter-spacing: 0.15em;
  }

  blockquote {
    font-style: italic;
    margin: 0;
  }

  blockquote footer {
    text-transform: uppercase;
    font-style: normal;
    text-align: right;
  }

  blockquote footer a {
    text-decoration: none;
  }

  dt {
    float: left;
    width: 13%;
  }

  dd {
    width: 80%;
    float: right;
  }

  h2 {
    border-top: 2px black solid;
    border-bottom: 1px black solid;
    text-transform: uppercase;
    font-size: 16pt;
    letter-spacing: 0.25em;
  }

  h2 small {
    font-size: medium;
    font-style: italic;
    text-transform: none;
    letter-spacing: 0;
    font-weight: normal;
  }

  .split {
    clear: both;
  }

  .schedule {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    width: 800px;
    margin: auto;
    border-collapse: collapse;
  }

  th {
    background-color: black;
    color: white;
    font-weight: 200;
    border: 2px lightgray solid;
  }

  td {
    border: 1px lightgray solid;
  }

  .week {
    text-transform: uppercase;
    text-align: center;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  .odd_week {
    background-color: lavender;
  }
